@model Locar.Models.Conta

@{
    ViewData["Title"] = "Editar saldo";
}

@*Divisao*@

<div class="border border-light rounded shadow col-md-8">
    <div class="container">

        <h3 class="titulo"><i class="far fa-money-bill-alt fa-lg"></i> Editar conta</h3>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ContaId" />

                    <div class="campos">
                        <div class="form-group">
                            <label asp-for="UsuarioId" class="control-label"> Usuário</label>
                            <select asp-for="UsuarioId" asp-items="ViewBag.UsuarioId" class="form-control form-control-lg"></select>
                            <span asp-validation-for="UsuarioId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="campos">
                        <div class="form-group">
                            <label asp-for="Saldo" class="control-label"> Saldo</label>
                            <input asp-for="Saldo" class="form-control form-control-lg" />
                            <span asp-validation-for="Saldo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group botoes">
                        <input type="submit" value="Editar" class="btn btn-outline-info btn-lg" /> &nbsp;
                        <a asp-action="Index" class="btn btn-link btn-lg"> Voltar </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
